.AppHeader_wrapper_Z8VJc{background-color:#2945cb}
.tab-item[data-v-43364f20]{background-color:#5f99ec}
.tab-item.active[data-v-43364f20]{background-color:#3269b7}
.close-icon[data-v-43364f20]:after{color:#4993fe}
.close-icon[data-v-43364f20]:hover:after{color:#57c7f9}
.more-popover .popover-tab-item.active[data-v-43364f20]{color:#4993fe}
.more-popover .active-dot[data-v-43364f20]{background-color:#4993fe}
.primary-icon{color:#4993fe}
.vxe-table--render-default .vxe-body--row.row--stripe{background-color:#f3f4f6}
.vxe-table--render-default .vxe-body--row.row--current,.vxe-table--render-default .vxe-body--row.row--hover,.vxe-table--render-default .vxe-body--row.row--hover.row--stripe{background-color:#bcd2f3}
.vxe-table--render-default .vxe-body--row.row--hover.row--current{background-color:#bcd2f3}
.vxe-table--render-default .vxe-table--footer-wrapper{border-top:1px solid #dce7f8}
.vxe-table--render-default.border--default .vxe-table--header-wrapper,.vxe-table--render-default.border--full .vxe-table--header-wrapper,.vxe-table--render-default.border--outer .vxe-table--header-wrapper{background-color:#eff3f9}
.vxe-table--render-default.border--default .vxe-body--column,.vxe-table--render-default.border--default .vxe-footer--column,.vxe-table--render-default.border--default .vxe-header--column,.vxe-table--render-default.border--inner .vxe-body--column,.vxe-table--render-default.border--inner .vxe-footer--column,.vxe-table--render-default.border--inner .vxe-header--column{background-image:linear-gradient(#dce7f8,#dce7f8)}
.vxe-table--render-default.border--full .vxe-body--column,.vxe-table--render-default.border--full .vxe-footer--column,.vxe-table--render-default.border--full .vxe-header--column{background-image:linear-gradient(#dce7f8,#dce7f8),linear-gradient(#dce7f8,#dce7f8)}
.vxe-table--render-default.border--full .vxe-table--fixed-left-wrapper .vxe-body--column{border-right-color:#dce7f8}
.vxe-table--render-default.border--default .vxe-table--header-wrapper .vxe-header--row:last-child .vxe-header--gutter,.vxe-table--render-default.border--full .vxe-table--header-wrapper .vxe-header--row:last-child .vxe-header--gutter,.vxe-table--render-default.border--inner .vxe-table--header-wrapper .vxe-header--row:last-child .vxe-header--gutter,.vxe-table--render-default.border--outer .vxe-table--header-wrapper .vxe-header--row:last-child .vxe-header--gutter{background-image:linear-gradient(#dce7f8,#dce7f8)}
.vxe-table--render-default .vxe-table--border-line{border:1px solid #dce7f8}
.vxe-table--render-default .vxe-body--expanded-column{border-bottom:1px solid #dce7f8}
.vxe-table .vxe-table--header-wrapper .vxe-table--header-border-line{border-bottom:1px solid #dce7f8}
.vxe-table--filter-wrapper .vxe-table--filter-body>li:hover,.vxe-table--filter-wrapper .vxe-table--filter-header>li:hover{background-color:#bcd2f3}
.vxe-export--panel .vxe-export--panel-column .vxe-export--panel-column-header{background-color:#eff3f9;border-bottom:1px solid #dce7f8}
.vxe-export--panel-column-option:hover{background-color:#bcd2f3}
.vxe-toolbar.is--perfect{border:1px solid #dce7f8;background-color:#eff3f9}
.vxe-toolbar .vxe-custom--option-wrapper{border:1px solid #dce7f8}
.vxe-toolbar .vxe-custom--option-wrapper .vxe-custom--body .vxe-custom--option:hover{background-color:#bcd2f3}
.vxe-pager.is--perfect{border:1px solid #dce7f8}
.vxe-perfect-color{color:#eff3f9}
.vxe-button.type--text.theme--perfect{color:#eff3f9}
.vxe-button.type--button.theme--perfect:not(.is--disabled){border-color:#eff3f9;background-color:#eff3f9}
.vxe-button.type--button.theme--perfect.is--loading{border-color:#eff3f9;background-color:#eff3f9}